.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-title {
  font-family: Billabong;
  font-weight: bold;
  font-size: 80px;
}

.all-spot-landing {
  /* display: flex; */
  text-decoration: none;
}

.navbar-links-container {
  /* width: 1200px; */
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  /* background-color: black; */
} 

.navbar-subcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}